.social-login {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  button {
    border: 0px;
    width: 100%;
    max-width: 320px;
    display: flex;
    justify-content: center;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);

    align-items: center;
    &:not(:last-child) {
      margin-bottom: 15px;
    }
    span {
      margin-right: 10px;
      font-size: 20px;
    }
  }
  .social-login--github {
    background-color: $black;
    color: white;
  }
  .social-login--facebook {
    background-color: #3a5998;
    color: white;
  }
}
